:root {
  /*
  Logo Theme Color
  Calculated using: https://labs.tineye.com/
  29.4 % Boston Blue (Blue)
  28.0 % Sea Buckthorn (Orange)
  17.4 % Blue Bayoux (Blue)
  14.8 % Jungle Mist (Green)
  % Pancho (Brown)
  */
  /* Color */
  --primary: #0374bf;
  --primaryText: #FFFFFF;
  --secondary: #f77c18;
  --secondaryText: #ffffff;
  --background: #f3f3f3;
  --card: #ffffff;
  --backgroundText: #000000;
  --cardText: #000000;
  /* Text */
  --title-size: 20px;
  --subtitle-size: 12px;
  --body-size: 14px;
  --title-spacing: 0.075rem;
  --subtitle-spacing: 0.00625rem;
  --body-spacing: 0.015625rem;
  /* Other */
  --border-radius: 2.5px;
}


/* Basic */
html {
  margin: 0px;
  padding: 0px;
  background-color: var(--background);
  color: var(--backgroundText);
  font-size: var(--body-size);
  font-family: 'Montserrat';
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  outline:none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;

  font-family: 'Montserrat';
}

p {
  font-size: var(--body-size);
  letter-spacing: var(--body-spacing);
  font-family: 'Montserrat';
  margin: 0px;
  padding: 0px;
}

/**
 App.vue style
**/

/* navbar style */
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  /* background-color: #d3d3d3; */
background: #ecebe3;
}

a {
  color: #000;
}

/* header */

.header {
  position: fixed;
/* height: 70px; */
  width: 100%;
  z-index: 3;
  padding-top: 10px;
  /* background-color: #1e1e1e; */
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  /* color: #bbb */
  color: #1e1e1e;
  background: #ecebe3;
}

.header li a:hover,
.header .menu-btn:hover {
  /* color: #000; */
    font-weight: bold;
}

.header .logo {
  display: block;
  float: left;
}
 .header .logo img {
  height: 70px;
  padding-left: 30px;
}

/* menu */

.header .menu {
    float: right;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  line-height: 32px;
  vertical-align: middle;
  padding-right: 20px;
  font-family: 'Montserrat';
  font-size: 20px;
}
.router-link-exact-active {
    font-weight: bold;
}
/* menu icon */

.header .menu-icon {
    z-index: 10;
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 24px 16px;
  margin-right: 20px;
  background: #ecebe3;
  /* border: .5px solid #1e1e1e; */
  border-radius: 50%;
  /* padding: 38px 30px; */
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #1e1e1e;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  /* width: 18px; */
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #1e1e1e;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 270px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media only screen and (min-width: 800px) {
  /* .header li { */
  /*   float: left; */
  /* } */
  /* .header li a { */
  /*   [> padding: 0px 30px; <] */
  /* } */
  /* .header .menu { */
  /*   clear: none; */
  /*   float: right; */
  /*   max-height: none; */
  /*   line-height: 70px; */
  /* } */
  /* .header .menu-icon { */
  /*   display: none; */
  /* } */
}

/* end navbar style */



/* ------------------------------------------------------------------ */
/* footer css */

.footer-distributed-bottom
 {
    color: white;
    background-color: #111216;
    width: 100%;
    height: 65px;
    position: relative;
	bottom: 0;
  line-height: 65px;
  vertical-align: middle;
  font-size: 24px;
}

.footer-bottom-text
 {
	text-align: left;
	text-justify: left;
	vertical-align: bottom;
	padding-left: 10vw;
	float: left;
  font-size: 18px;
  font-family: 'Montserrat';
}

.footer-icons {
 float: right;
 margin-right: 10vw;
}

.footer-icons a
 {
    display: inline-block;
    cursor: pointer;
	  /* font-size: 16px; */
    color: #ffffff;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
}

@media only screen and (max-width: 650px) {
    .footer-distributed-bottom{

          font-size: 18px;
    }

    .footer-bottom-text{ 

          font-size: 14px;
    }
    .footer-icons a{
        margin-left: 6px;
        margin-right: 6px;
    }
}
@media only screen and (max-width: 500px) {
    .footer-distributed-bottom{

          font-size: 14px;
    }

    .footer-bottom-text{ 

          font-size: 10px;
    }
    .footer-icons a{
        margin-left: 5px;
        margin-right: 5px;
    }
}
