/* CSS goes here for Home Route */

.bg-left-top {
    position: absolute;
    height: 87vmin;
    top: 0;
    left: 0;
}

.bg-left-bottom {
    position: absolute;
    height: 87vmin;
    bottom: 0;
    left: 0;
}


.bg-right-top {
    position: absolute;
    right: 0;
    height: 87vmin;
    top: 0;
}
.bg-right-bottom {
    position: absolute;
    right: 0;
    height: 87vmin;
    bottom: 0;
}


.home_first {
    height:100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    margin: 0;
    text-align: left;
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_first_block{
    padding-top: 0px;
    padding-bottom: 65px;
    padding-left: 20vw;
    padding-right: 20vw;
}

.home_heading {
    font-family: 'Montserrat', monospace;
    font-size: 52px;
    /* color: #fff; */
    color: #1e1e1e;
    font-weight: 600;
    position: relative;
    top: 25%;
    letter-spacing: 0.05em;
    z-index: 69;
    text-align: center;
    /* text-transform: uppercase; */
}
.home_heading>span{
    font-weight: 400;
}
.home_subheading {
    font-family: 'Montserrat', monospace;
    font-size: 20px;
    /* color: #d4cccc; */
    color: #1e1e1e;
    font-weight: 400;
    position: relative;
    top: 35%;
    letter-spacing: 0.05em;
    z-index: 69;
    text-align: center;
    /* text-transform: uppercase; */
}

@media only screen and (max-width: 655px) {
    .home_heading {
        font-size: 48px;
    }
    .home_subheading {
        font-size: 16px;
    }
    .home_first_block{
        padding-left: 10vw;
        padding-right: 10vw;
    }
}
@media only screen and (max-width: 455px) {
    .home_heading {
        font-size: 40px;
    }
    .home_subheading {
        font-size: 16px;
    }
    .home_first_block{
        padding-left: 4vw;
        padding-right: 4vw;
    }
}
@media only screen and (min-width: 1500px) {
    .home_heading {
        font-size: 60px;
    }
    .home_subheading {
        font-size: 26px;
    }
}









/* PyData part goes here */

.home_pydata {
    font-size: 16px;
    width: 100%;
    background-image:url(../tmp_desing/other/home_bg.jpg);
    z-index: 69;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* text-align: center; */
    background-repeat: no-repeat;
}
.home_pydata_hr_wrap{
    padding-top: 7.188em;
    padding-bottom: 7.188em;
    padding-left: 10vw;
    position: relative;
}
.home_pydata_hr{
    margin: 0;
    width: 7.188em;
    height: 0.563em;
    background: #f77c18;
    border: none;
}
.home_pydata_heading{
    font-size: 4.688em;
    color: #fff;
    font-family: Montserrat;
    letter-spacing: 0.04em;
}
.home_pydata_left {
    width: 80%;
}
.home_pydata_left_para{
    font-size: 1.500em;
    color: #d4cccc;
    font-family: Montserrat;
    font-weight: 100;
    text-align: left;
}

.home_pydata_left_button {
    border-radius: 6.250em;
    background: #f77c18;
    color: #fff;
    font-weight: 500;
    /* padding: 1.313em 3.938em; */
    padding: 1.5rem 4.5rem;
    display: inline-flex;
    transition: background .2s ease-in-out;
    outline: none;
    border: none;
    font-size: 1.500em;
    font-family: Montserrat;
    cursor: pointer;
}

.home_pydata_right {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, 0)
}
.svg_1{
    height: 30vmin;
}

@media only screen and (max-width: 700px) {
    .home_pydata {
        font-size: 14px;
    }
}
@media only screen and (max-width: 560px) {
    .home_pydata {
        font-size: 12px;
    }
    .home_pydata_left_button {
        padding: 1.5rem 3.5rem;
    }
}
@media only screen and (max-width: 450px) {
    .home_pydata {
        font-size: 10px;
    }
}





/* PyData Delhi part goes here */

.home_pydata_delhi{
    width: 100%;
    background: #fff;
    position: relative;
    display: flex;
    padding-top: 8.125em;
    font-size: 16px;
}
.home_pydata_delhi_heading{
    font-size: 4.688em;
    color: #1a2b3b;
    font-family: Montserrat;
    font-weight: 800;
    padding-left: 10vw;
    z-index: 70;
    margin-top: -45px;
}

.home_pydata_delhi_heading:before{
    content: "";
    height: 100px;
    width: 2px;
    background: #ccc1b5;
    position: absolute;
    top: -18px;
    left: 108px;
    z-index: 2;
    margin-left: 10vw;
}

.home_pydata_delhi_heading > span{
    font-weight: 400;
}
.home_pydata_delhi_left{
    flex-grow: 1;
    width: 50%;
    width: 100%;
    background: #f3ece4;
}
.home_pydata_delhi_left_p {
    color: #192b3b;
    text-align: left;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 1.250em;
}

#home_pydata_delhi_left_button {
    position: relative;
    font-size: 1.250em;
    font-family: Montserrat;
    font-weight: 500;
    border-radius: 100px;
    padding: 1.6rem 4.5rem;
    display: inline-flex;
    transition: background .2s ease-in-out;
    outline: none;
}
.home_pydata_delhi_left_button1{
    background: #192b3b;
    color: #fff;
    border: none;
    top: 0%;
    cursor: pointer;
    margin-left: 10vw;
}
.home_pydata_delhi_left_button2 {
    background: transparent;
    color: #192b3b;
    border: 2px solid #192b3b;
    top: 0%;
    cursor: pointer;
}


.home_pydata_delhi_right{
    flex-grow: 1;
    width: 50%;
    position: relative;
    text-align:center;
    overflow: hidden;
}
.home_pydata_delhi_right_image{
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    height: 70vmin;
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home_pydata_delhi_left_social {
    position: relative;
    list-style: none;
    display: inline-flex;
}
.home_pydata_delhi_left_social > li {
    padding-right: 40px;
    color: #192b3b;
}
.home_pydata_delhi_left_social > li > a > i {
    color: #192b3b;
}
@media only screen and (max-width: 700px) {
    .home_pydata_delhi {
        font-size: 14px;
    }
    .home_pydata_delhi_heading:before{
        left: 94px;
        height: 80px;
        top: -11px;
    }
    .home_pydata_delhi_heading {
        margin-top: -40px;
    }
}
@media only screen and (max-width: 560px) {
    .home_pydata_delhi {
        font-size: 12px;
    }
    #home_pydata_delhi_left_button {
        padding: 1.6rem 2.5rem;
    }
    .home_pydata_delhi_heading {
        margin-top: -35px;
    }
    .home_pydata_delhi_heading:before{
        left: 80px;
        height: 70px;
        top: -15px;
    }
}
@media only screen and (max-width: 450px) {
    .home_pydata_delhi {
        font-size: 10px;
    }
    #home_pydata_delhi_left_button {
        padding: 1.6rem 2.0rem;
    }
    .home_pydata_delhi_heading {
        margin-top: -30px;
    }
    .home_pydata_delhi_heading:before{
        left: 68px;
        height: 50px;
        top: -6px;
        width: 1px;
    }
}



/* CFP part goes here */
.home_pydata_cfp{
    padding-top: 5.125em;
    font-size: 16px;
    width: 100%;
    background: #fff;
}
.home_pydata_cfp_heading{
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.225em;
    color: #182b3b;
    font-weight: 600;
}
.home_pydata_cfp> hr{
    width: 27.938em;
    height: 3px;
    background-color: #172b3b;
    border: none;
    position: relative;
    top: 2%;
}

.home_pydata_cfp_list{
    display: flex;
    text-align: center;
}

.home_pydata_cfp_image{
    height: 7.500em;
}

.home_pydata_cfp_list_div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    position: relative;
}

.home_pydata_cfp_list_div > p{
    font-size: 1.063em;
    font-family: Montserrat;
    color: #172b3b;
    padding-left: 10vw;
    padding-right: 10vw;
}
.home_pydata_cfp_list_div > h3{
    font-family: Montserrat;
    color: #172b3b;
    font-size: 1.563em;
}

.home_pydata_cfp_btn {
    width: 100%;
}
.home_pydata_cfp_btn > button {
    position: relative;
    border-radius: 100px;
    background: #172b3b;
    color: #fff;
    font-weight: 500;
    padding: 1.5rem 4.5rem;
    display: inline-flex;
    transition: background .2s ease-in-out;
    outline: none;
    border: none;
    font-size: 1.438em;
    font-family: Montserrat;
    left: 50%;
    transform: translate(-50%, 0%);
}

@media only screen and (max-width: 800px) {
    .home_pydata_cfp {
        font-size: 12px;
    }
    .home_pydata_cfp_btn > button {
        padding: 1.5rem 3.5rem;
    }
}
@media only screen and (max-width: 580px) {
    .home_pydata_cfp {
        font-size: 10px;
    }
    .home_pydata_cfp_btn > button {
        padding: 1.5rem 2.5rem;
    }
}
@media only screen and (max-width: 500px) {
    .home_pydata_cfp {
        font-size: 8px;
    }
    .home_pydata_cfp_list{
        flex-direction: column;
    }
    .home_pydata_cfp_list_div > p{
        padding-left: 30vw;
        padding-right: 30vw;
    }
}
@media only screen and (max-width: 400px) {
    .home_pydata_cfp_heading{
        font-size: 1.725em;
    }
    .home_pydata_cfp> hr{
        width: 20.938em;
    }
}
@media only screen and (min-width: 1350px) {
    .home_pydata_cfp_list_div > p{
        padding-left: 15vw;
        padding-right: 15vw;
    }
    .home_pydata_cfp_heading{ 
        font-size: 3.000em;
    }
    .home_pydata_cfp> hr{
        width: 35.938em;
    }
}


/* Past Conference goes here */

.home_pydata_past_conf{
    font-size: 16px;
    text-align: right;
    padding-top: 6.250em;
    padding-bottom: 6.250em;
    color: #fff;
    width: 100%;
    /* height:70vw; */
    background-image:url(../tmp_desing/other/home_bg.jpg);
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.home_pydata_past_conf_heading {
    font-size: 3.750em;
    font-family: Montserrat;
    letter-spacing: 0.02em;
    padding-right: 10vw;
    font-weight: 800;
    position: relative;
    z-index: 70;
}
.home_pydata_past_conf_heading>span{
    font-weight: 400;
}
.home_pydata_past_conf_hr{
    position: relative;
    width: 142px;
    height: 0.563em;
    background: #f77c18;
    float: right;
    right: calc(408px + 10vw);
}
.home_pydata_past_meetup_hr{
    position: relative;
    width: 142px;
    height: 0.563em;
    background: #f77c18;
    float: right;
    right: calc(292px + 10vw);
}

.past_conf_list {
    text-align: left;
    display: flex;
    width: 100vw;
}

.past_conf_item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding-left: 10vw;
    padding-right: 10vw;
}

.past_conf_item > h3 {
    font-size: 2.000em;
    font-family: Montserrat;
}
.past_conf_item > p {
    font-size: 1.125em;
    font-family: Montserrat;
}
.past_conf_item > a {
    font-size: 1.125em;
    color: #f77c17;
    font-family: Montserrat;
    text-decoration: underline;
}
#home_pydata_past_meetup{
    background-image:none;
    color: #172b3b;
}

@media only screen and (max-width: 1100px) {
    .home_pydata_past_conf {
        font-size: 14px;
    }
    .home_pydata_past_conf_hr{
        width: 125px;
        right: calc(360px + 10vw);
    }
    .home_pydata_past_meetup_hr{
        width: 125px;
        right: calc(256px + 10vw);
    }
}
@media only screen and (max-width: 800px) {
    .home_pydata_past_conf {
        font-size: 10px;
    }
     .home_pydata_past_conf_hr{
        width: 90px;
        right: calc(257px + 10vw);
    }
    .home_pydata_past_meetup_hr{
        width: 90px;
        right: calc(183px + 10vw);
    }
    
}
@media only screen and (max-width: 600px) {
    .home_pydata_past_conf {
        font-size: 8px;
    }
 .home_pydata_past_conf_hr{
        width: 72px;
        right: calc(204px + 10vw);
    }
.home_pydata_past_meetup_hr{
        width: 72px;
        right: calc(146px + 10vw);
    }
    
}
@media only screen and (max-width: 500px) {
    .past_conf_list {
        flex-direction: column;
    }
}
