/* CSS goes here for Home Route */
.icon1 {
  height: 150px;
  width: 320px;
  margin-top: 0%;
}

.bg-left-top {
    position: absolute;
    height: 87vmin;
    top: 0;
    left: 0;
}

.bg-left-bottom {
    position: absolute;
    height: 87vmin;
    bottom: 0;
    left: 0;
}


.bg-right-top {
    position: absolute;
    right: 0;
    height: 87vmin;
    top: 0;
}
.bg-right-bottom {
    position: absolute;
    right: 0;
    height: 87vmin;
    bottom: 0;
}


.home_first {
  height:100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  margin: 0;
  text-align: left;
  position: relative;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_first_block{
    padding-top: 0px;
    padding-bottom: 65px;
    padding-left: 20vw;
    padding-right: 20vw;
}

.home_heading {
  font-family: 'Montserrat', monospace;
  font-size: 52px;
  /* color: #fff; */
  color: #1e1e1e;
  font-weight: 600;
  position: relative;
  top: 25%;
  letter-spacing: 0.05em;
  z-index: 69;
  text-align: center;
  /* text-transform: uppercase; */
}
.home_heading>span{
  font-weight: 400;
}
.home_subheading {
  font-family: 'Montserrat', monospace;
  font-size: 20px;
  /* color: #d4cccc; */
  color: #1e1e1e;
  font-weight: 400;
  position: relative;
  top: 35%;
  letter-spacing: 0.05em;
  z-index: 69;
  text-align: center;
  /* text-transform: uppercase; */
}

@media only screen and (max-width: 655px) {
    .home_heading {
        font-size: 48px;
    }
    .home_subheading {
        font-size: 16px;
    }
    .home_first_block{
        padding-left: 10vw;
        padding-right: 10vw;
    }
}
@media only screen and (max-width: 455px) {
    .home_heading {
        font-size: 40px;
    }
    .home_subheading {
        font-size: 16px;
    }
    .home_first_block{
        padding-left: 4vw;
        padding-right: 4vw;
    }
}
@media only screen and (min-width: 1500px) {
    .home_heading {
        font-size: 60px;
    }
    .home_subheading {
        font-size: 26px;
    }
}






.home_first_image{
  position: relative;
    height: 30vw;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    left: 15%;
    margin-top: 10%;
    filter: sepia(70%);
}

.home_subheading2 {
  font-family: 'Montserrat', monospace;
  font-size: 2vw;
  color: #fff;
  font-weight: 400;
  position: relative;
  top: 25%;
  letter-spacing: 0.05em;
  z-index: 69;
  text-align: center;
  text-transform: uppercase;
}
.home_meetup_button {
  height: 4.5vw;
  width: 20vw;
  position: relative;
  /* margin-top: 25%; */
  z-index: 69;
  display: flex;

  margin: 0 auto;
  margin-top: -3%;
  background: var(--primary);
  border: none;
  font-family: 'Montserrat';
  font-size: 1.5vw;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  justify-content: center;
  text-align: center;
}

/* PyData part goes here */

.home_pydata {
  height: 47vw;
  width: 100%;
  background-image:url(../tmp_desing/other/home_bg.jpg);
  z-index: 69;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
}
.home_pydata_hr{
  position: relative;
  margin-top: 6%;
  width: 6%;
  height: 9px;
  background: #f77c18;
  border: none;
  float: left;
  left: 9%;
}
.home_pydata_heading{
  font-size: 4vw;
    color: #fff;
    font-family: Montserrat;
    letter-spacing: 0.04em;
    float: left;
    position: relative;
    margin-top: 8%;
    left: 3%;
}
.home_pydata_left {
  width: 80%;
  position: relative;
  left: 0;
}
.home_pydata_left_para{
  font-size: 1.2vw;
  float: left;
  position: absolute;
  left: 11.5%;
  color: #d4cccc;
  font-family: Montserrat;
  margin-top: 17%;
  font-weight: 500;
  text-align: left;
  line-height: 200%;
}



.home_pydata_left_button {
  position: relative;
  margin-top: 46%;
  float: left;
  left: -16%;
  border-radius: 100px;
  background: #f77c18;
  color: #fff;
  font-weight: 500;
  padding: 1.5rem 4.5rem;
  display: inline-flex;
  transition: background .2s ease-in-out;
  outline: none;
  border: none;
  font-size: 1.2vw;
  font-family: Montserrat;
  cursor: pointer;
}
.home_pydata_social {
  position: relative;
  margin-left: -34%;
  list-style: none;
  margin-top: 39%;
  float: left;
  display: inline-flex;
}
.home_pydata_social > li {
  padding-right: 40px;
  color: #fff;
}
.home_pydata_social > li > a > i {
  color: #fff;

}

.svg_1 {
  position: relative;
  margin-top: -2.9%;
  float: right;
  right: -10%;
}
/* .svg_2{
  position: relative;
  float: right;
  margin-top: 31.5vw;
  right: 0;
} */

/* PyData Delhi part goes here */

.home_pydata_delhi{
  height: 60vw;
width: 100%;
background: #fff;
position: relative;
}
/* .svg_2 {
    left: -27rem;
    position: relative;
    width: 604px;
    height: 684px;
} */
.home_pydata_delhi_heading{
  font-size: 4vw;
  color: #1a2b3b;
  font-family: Montserrat;
  letter-spacing: 0.03em;
  /* text-transform: uppercase; */
  font-weight: 800;
  position: relative;
  top: 9%;
  left: 9%;
  z-index: 70;
}

.home_pydata_delhi_heading:before{
  content: "";
  height: 100px;
  width: 1.5px;
  background: #ccc1b5;
  position: absolute;
  top: -110px;
  left: 6%;
  z-index: 2;

}

.home_pydata_delhi_heading > span{
  font-weight: 400;
}
.home_pydata_delhi_left{
  width: 50%;
  height: 76%;
  top: 5%;
  position: relative;
  float: left;
  /* background: #efe3d4; */
  background: #f3ece4;
}
.home_pydata_delhi_left_p {
  color: #192b3b;
  text-align: left;
  width: 65%;
  position: relative;
  left: 18.5%;
  font-size: 1vw;
  top:12%;
  font-weight: 400;
  line-height: 250%;
  font-size: 4vm;
}

#home_pydata_delhi_left_button {
  position: relative;
margin-top: 30%;
left: -28%;
font-size: 1.1vw;
font-family: Montserrat;
font-weight: 500;
border-radius: 100px;
padding: 1.6rem 4.5rem;
display: inline-flex;
transition: background .2s ease-in-out;
outline: none;
margin-left: 1%;
}
.home_pydata_delhi_left_button1{
  background: #192b3b;
  color: #fff;
  border: none;
  top: 0%;
  cursor: pointer;
}
.home_pydata_delhi_left_button2 {
  background: transparent;
  color: #192b3b;
  border: 2px solid #192b3b;
  top: 0%;
  cursor: pointer;
}


.home_pydata_delhi_right{
  width: 50%;
  height: 90%;
  position: relative;
  float: right;

}
.home_pydata_delhi_right_image{
    background-size: cover;
    /* position: absolute; */
    background-repeat: no-repeat;
    height: 70%;
    margin-top: 14%;
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.home_pydata_delhi_left_social {
  position: relative;
  list-style: none;
  margin-top: 20%;
  float: left;
  display: inline-flex;
  left: 14%;
  top: 0%;
}
.home_pydata_delhi_left_social > li {
  padding-right: 40px;
  color: #192b3b;
}
.home_pydata_delhi_left_social > li > a > i {
  color: #192b3b;
}


/* CFP part goes here */
.home_pydata_cfp{
  height: 45vw;
  width: 100%;
  background: #fff;
}
.home_pydata_cfp_heading{
  margin: 0 auto;
position: relative;
text-align: center;
font-family: Montserrat;
font-size: 3vw;
color: #182b3b;
font-weight: 600;
}

.home_pydata_cfp_list{
  list-style: none;
margin: 0 auto;
text-align: center;
display: inline-flex;
/* width: 80%; */
margin-left: 10%;
margin-right: 10%;
margin-top: 2%;

}
.home_pydata_cfp_list_data{

  display: inline-flex;
position: relative;
padding-left: 10%;
padding-right: 10%;
margin-top: 4%;
}
.home_pydata_cfp_image{
  height: 120px;
}


.home_pydata_cfp_list_div1 > p{
  font-size: 0.9vw;
  font-family: Montserrat;
  padding-top: 20px;
  color: #172b3b;
}
.home_pydata_cfp_list_div1 > h3{
  font-family: Montserrat;
  color: #172b3b;
  font-size: 1.3vw;
  position: relative;
  top: 5%;
  padding-bottom: 30px;

}
.home_pydata_cfp_list_div2 {
  margin-left: 500px;
}
.home_pydata_cfp_list_div2 > p{
  font-size: 0.9vw;
  font-family: Montserrat;
  padding-top: 20px;
  color: #172b3b;
}
.home_pydata_cfp_list_div2 > h3{
  font-family: Montserrat;
  color: #172b3b;
  font-size: 1.3vw;
  position: relative;
  top: 5%;
  padding-bottom: 30px;

}
.home_pydata_cfp> hr{
  width: 30%;
height: 3px;
background-color: #172b3b;
border: none;
position: relative;
top: 2%;
}
.home_pydata_cfp > button {
  position: relative;
  border-radius: 100px;
  background: #172b3b;
  color: #fff;
  font-weight: 500;
  padding: 1.5rem 4.5rem;
  display: inline-flex;
  transition: background .2s ease-in-out;
  outline: none;
  border: none;
  font-size: 1.2vw;
  font-family: Montserrat;
  margin-top: 3%;
  left: 40%;
}

/* Past COnference goes here */

.home_pydata_past_conf{
  width: 100%;
  height:70vw;
  background-image:url(../tmp_desing/other/home_bg.jpg);
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
}
.home_pydata_past_conf_heading {
  font-size: 4vw;
  color: #fff;
  font-family: Montserrat;
  letter-spacing: 0.02em;
  /* text-transform: uppercase; */
  font-weight: 800;
  position: relative;
  margin-top: 4%;
  float: right;
  right: 2.5%;
  z-index: 70;
}
.home_pydata_past_conf_heading>span{
  font-weight: 400;
}
.home_pydata_past_conf_hr{
  position: relative;
margin-top: 10%;
width: 8%;
height: 9px;
background: #f77c18;
border: none;
float: right;
right: 39%;
}
.past_conf_list{
  position: relative;
      text-align: center;
      margin: 0 auto;
      padding-left: 21px;
      margin-top: 10%;
}
.past_conf_list_data{
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
}
.past_conf_list_data_content > svg {

    height: 42vw;
    width: 27vw;
    position: relative;
}
.past_conf_list_data_content > img{
  height: 22vw;
  width: 22vw;
  position: absolute;
  top: 15%;
  left: 8%;
  border: 5px double #f77c18;
}
.past_conf_list_data_content>button{
  position: absolute;
  margin-top: -40%;
  left: 7.5%;
  background: #f77c18;
  color: #fff;
  font-weight: 500;
  padding: 1.5rem 4.5rem;
  display: inline-flex;
  transition: background .2s ease-in-out;
  outline: none;
  border: none;
  font-size: 1.2vw;
  font-family: Montserrat;
  padding: 5% 22%;
}

/* ------------------------------------------------------------------ */
/* past meetup css */

.home_pydata_past_meetups{
  height: 44vw;
  width: 100%;
  background: #fff;
}
.past_meetups_left{
  position: relative;
  height: 100%;
  width: 45%;
  float: left;

}
.past_meetups_right{
  position: relative;
  height: 53vw;
  width: 55%;
  float: right;
  background: #f6f7f8;
  margin-top: -7vw;
}
.past_meetups_right_heading{
  font-family: 'Montserrat';
    font-size: 4vw;
    letter-spacing: 0.02em;
    font-weight: 800;
    position: relative;
    left: 24%;
    /* top: -5%; */
    color: #233444;
}
.past_meetups_right_heading > span{
  font-weight: 400;
}
.past_meetups_images_first{
  position: relative;
  display: initial;

}
.past_meetups_images_first_data{
  position: relative;
    height: 22vw;
    width: 50%;
    background: tomato;
    display: inline-flex;
}
.past_meetups_images_first_data:nth-child(1){
  top: 0;
  float: left;
  background-image:url(../tmp_desing/other/meetup_1.jpeg);
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  overflow:hidden;
  transition: transform .5s, filter 1.5s ease-in-out
}
.past_meetups_images_first_data:nth-child(2){
  top: -2.1%;
  float: right;
  background-image:url(../tmp_desing/other/meetup_3.jpeg);
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  filter: saturate(20%);
  overflow:hidden;
  transition: transform .5s, filter 1.5s ease-in-out
}
.past_meetups_images_first_data:nth-child(3){
  bottom: 0;
  float: left;
  background-image:url(../tmp_desing/other/meetup_5.jpeg);
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  filter: saturate(20%);
  overflow:hidden;
  transition: transform .5s, filter 1.5s ease-in-out
}
.past_meetups_images_first_data:nth-child(4){
  top: -2.1%;
  float: right;
  background-image:url(../tmp_desing/other/meetup_2.jpeg);
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  overflow:hidden;
  transition: transform .5s, filter 1.5s ease-in-out
}
.past_meetups_images_first_data {
  transition: transform .5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}
.past_meetups_images_first_data:nth-child(1):hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.past_meetups_images_first_data:nth-child(2):hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.past_meetups_images_first_data:nth-child(3):hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.past_meetups_images_first_data:nth-child(4):hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.meetup_content{
  height: 10vw;
width: 60%;
background: #fff;
margin-top: 20px;
margin-bottom: 5px;
/* border-bottom: 2px solid #223444; */
text-align: center;
    margin: 0 auto;
    padding-top: 2em;

}
.meetup_content > hr {
  height: 0.01px;
  width: 35%;
  margin-top: 30px;
}

.meetup_content > h4 {
  font-family: Montserrat;
color: #223444;
font-size: 1.3rem;
}
.meetup_content > h3 {
  font-family: Montserrat;
  font-size: 1.8rem;
  color: #223444;
}
.meetup_content > h5 {
  font-family: Montserrat;
    font-size: 1.2rem;
    color: #f77c17;
}
.check_meetup_button {
  position: relative;
  border-radius: 100px;
  background: #f77c18;
  color: #fff;
  font-weight: 500;
  padding: 1.5rem 4.5rem;
  display: inline-flex;
  transition: background .2s ease-in-out;
  outline: none;
  border: none;
  font-size: 1.2vw;
  font-family: Montserrat;
  margin-top: 6%;
  margin-left: 33%;
}


